*.tar.gz
.env
.idea/
/finalyearproject.iml
/target/
/src/main/resources/logs/
/src/main/resources/application-test.properties
/src/main/resources/application.properties
/src/main/resources/application-prod.properties
